<a href="https://colab.research.google.com/github/edurodriguesn/python-truth-tables/blob/main/TruthTableGenerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install truth-table-generator

Collecting truth-table-generator
  Downloading truth_table_generator-1.1.2.tar.gz (14 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.21.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (1.3.5)
Collecting PTable
  Downloading PTable-0.9.2.tar.gz (31 kB)
Requirement already satisfied: pyparsing in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (3.0.7)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (0.8.9)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from truth-table-generator) (2.11.3)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->truth-table-generator) (2.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->truth-table-generator) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->truth-table-generator) (1.15.0)
Building wheels for collected packages: truth-table-generator, PTable
  Building wheel for truth-table-generator (setup.py) ... done
  Created wheel for truth-table-generator: filename=truth_table_generator-1.1.2-py3-none-any.whl size=13960 sha256=eb3973f2f7dcd2f75bdf9f4a9f6cdaf84458c5795644a5fe2940f2159663ccff
  Stored in directory: /root/.cache/pip/wheels/9a/55/b5/77f5756832494eafda92c7a94c1365ac31088a18a3a97dd480
  Building wheel for PTable (setup.py) ... done
  Created wheel for PTable: filename=PTable-0.9.2-py3-none-any.whl size=22925 sha256=840e48fa3bcff9be281147f0a9342c24244b6352fb76c9d4ab36dda0db432a42
  Stored in directory: /root/.cache/pip/wheels/33/df/2f/674985b3f8a2de3f96357d1eadef5110f74fa91b3785e52a54
Successfully built truth-table-generator PTable
Installing collected packages: PTable, truth-table-generator
Successfully installed PTable-0.9.2 truth-table-generator-1.1.2

In [ ]:
import ttg

In [ ]:
tabela = ttg.Truths(['p','q'], ['p and q'])
print(tabela)

+-----+-----+-----------+
|  p  |  q  |  p and q  |
|-----+-----+-----------|
|  1  |  1  |     1     |
|  1  |  0  |     0     |
|  0  |  1  |     0     |
|  0  |  0  |     0     |
+-----+-----+-----------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['p and q'], ints = False)
print(tabela)

+-------+-------+-----------+
|   p   |   q   |  p and q  |
|-------+-------+-----------|
| True  | True  |   True    |
| True  | False |   False   |
| False | True  |   False   |
| False | False |   False   |
+-------+-------+-----------+

In [ ]:
tabela = ttg.Truths(['p'], ['not p'], ints = False)
print (tabela)

+-------+---------+
|   p   |  not p  |
|-------+---------|
| True  |  False  |
| False |  True   |
+-------+---------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['p or q'], ints = False)
print(tabela)

+-------+-------+----------+
|   p   |   q   |  p or q  |
|-------+-------+----------|
| True  | True  |   True   |
| True  | False |   True   |
| False | True  |   True   |
| False | False |  False   |
+-------+-------+----------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['p xor q'], ints = False)
print(tabela)

+-------+-------+-----------+
|   p   |   q   |  p xor q  |
|-------+-------+-----------|
| True  | True  |   False   |
| True  | False |   True    |
| False | True  |   True    |
| False | False |   False   |
+-------+-------+-----------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['p implies q'], ints = False)
print(tabela)

+-------+-------+---------------+
|   p   |   q   |  p implies q  |
|-------+-------+---------------|
| True  | True  |     True      |
| True  | False |     False     |
| False | True  |     True      |
| False | False |     True      |
+-------+-------+---------------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['p = q'], ints = False)
print(tabela)

+-------+-------+---------+
|   p   |   q   |  p = q  |
|-------+-------+---------|
| True  | True  |  True   |
| True  | False |  False  |
| False | True  |  False  |
| False | False |  True   |
+-------+-------+---------+

In [ ]:
tabela = ttg.Truths(['p','q'], ['not(p or q)', '(not p) and (not q)', 'not(p or q) = ((not p) and (not q))'], ints = False)
print(tabela)
tabela.valuation()

+-------+-------+---------------+-----------------------+---------------------------------------+
|   p   |   q   |  not(p or q)  |  (not p) and (not q)  |  not(p or q) = ((not p) and (not q))  |
|-------+-------+---------------+-----------------------+---------------------------------------|
| True  | True  |     False     |         False         |                 True                  |
| True  | False |     False     |         False         |                 True                  |
| False | True  |     False     |         False         |                 True                  |
| False | False |     True      |         True          |                 True                  |
+-------+-------+---------------+-----------------------+---------------------------------------+

'Tautology'

In [ ]:
tabela = ttg.Truths(['p','q'], ['not(p and q)', '(not p) or (not q)', 'not(p and q) = ((not p) or (not q))'], ints = False)
print(tabela)
tabela.valuation()

+-------+-------+----------------+----------------------+---------------------------------------+
|   p   |   q   |  not(p and q)  |  (not p) or (not q)  |  not(p and q) = ((not p) or (not q))  |
|-------+-------+----------------+----------------------+---------------------------------------|
| True  | True  |     False      |        False         |                 True                  |
| True  | False |      True      |         True         |                 True                  |
| False | True  |      True      |         True         |                 True                  |
| False | False |      True      |         True         |                 True                  |
+-------+-------+----------------+----------------------+---------------------------------------+

'Tautology'

In [ ]:
tabela = ttg.Truths(['p','q'], ['p => q', '(not p) or q', '(p => q) = ((not p) or q)'], ints = False)
print(tabela)
tabela.valuation()

+-------+-------+----------+----------------+-----------------------------+
|   p   |   q   |  p => q  |  (not p) or q  |  (p => q) = ((not p) or q)  |
|-------+-------+----------+----------------+-----------------------------|
| True  | True  |   True   |      True      |            True             |
| True  | False |  False   |     False      |            True             |
| False | True  |   True   |      True      |            True             |
| False | False |   True   |      True      |            True             |
+-------+-------+----------+----------------+-----------------------------+

'Tautology'

In [ ]:
ttg.Truths(['p','q'],['(p => q) = ((not p) or q)']).valuation()

'Tautology'

In [ ]:
tabela = ttg.Truths(['p','q','r'], ['p or(q and r)', '(p or q) and (p or r)', '(p or(q and r)) = ((p or q) and (p or r))'], ints = False)
print(tabela)
tabela.valuation()

+-------+-------+-------+-----------------+-------------------------+---------------------------------------------+
|   p   |   q   |   r   |  p or(q and r)  |  (p or q) and (p or r)  |  (p or(q and r)) = ((p or q) and (p or r))  |
|-------+-------+-------+-----------------+-------------------------+---------------------------------------------|
| True  | True  | True  |      True       |          True           |                    True                     |
| True  | True  | False |      True       |          True           |                    True                     |
| True  | False | True  |      True       |          True           |                    True                     |
| True  | False | False |      True       |          True           |                    True                     |
| False | True  | True  |      True       |          True           |                    True                     |
| False | True  | False |      False      |          False          |                    True                     |
| False | False | True  |      False      |          False          |                    True                     |
| False | False | False |      False      |          False          |                    True                     |
+-------+-------+-------+-----------------+-------------------------+---------------------------------------------+

'Tautology'

In [ ]:
tabela = ttg.Truths(['p'],['True', 'p and True','p=(p and True)'], ints=False)
print(tabela)

+-------+--------+--------------+------------------+
|   p   |  True  |  p and True  |  p=(p and True)  |
|-------+--------+--------------+------------------|
| True  |  True  |     True     |       True       |
| False |  True  |    False     |       True       |
+-------+--------+--------------+------------------+

In [ ]:
tabela = ttg.Truths(['p'],['False', 'p or False','p=(p or False)'], ints=False)
print(tabela)

+-------+---------+--------------+------------------+
|   p   |  False  |  p or False  |  p=(p or False)  |
|-------+---------+--------------+------------------|
| True  |  False  |     True     |       True       |
| False |  False  |    False     |       True       |
+-------+---------+--------------+------------------+

In [ ]:
tabela = ttg.Truths(['p'],['True', 'p or True','True=(p or True)'], ints=False)
print(tabela)

+-------+--------+-------------+--------------------+
|   p   |  True  |  p or True  |  True=(p or True)  |
|-------+--------+-------------+--------------------|
| True  |  True  |    True     |        True        |
| False |  True  |    True     |        True        |
+-------+--------+-------------+--------------------+

In [ ]:
tabela = ttg.Truths(['p'],['False', 'p and False','False=(p and False)'], ints=False)
print(tabela)

+-------+---------+---------------+-----------------------+
|   p   |  False  |  p and False  |  False=(p and False)  |
|-------+---------+---------------+-----------------------|
| True  |  False  |     False     |         True          |
| False |  False  |     False     |         True          |
+-------+---------+---------------+-----------------------+

import sympy as sp
x, y = sp.symbols('x, y')
troca(x,y)

In [ ]:
def maximo(lista):
    n = len(lista)
    maior = lista[0]
    print('máximo = ', maior)
    for k in range(1,n):
        if maior < lista[k]:
            maior = lista[k]
            print('máximo = ', maior)
    return maior

In [ ]:
lista = [4, 2, 7, 9, 5]
maximo(lista)

máximo =  4
máximo =  7
máximo =  9

9

In [ ]:
lista = [3, 5, -1, 8, -9, 2, 11, 13, -19, 15, 1, 0, 10, 23, 22, 18, 19, -33, 6]
maximo(lista)

máximo =  3
máximo =  5
máximo =  8
máximo =  11
máximo =  13
máximo =  15
máximo =  23

23

In [ ]:
def sequencial(lista, x):
    n = len(lista)
    for i in range(n):
        if lista[i] == x:
            return i

    return -1

In [ ]:
lista = [18, 22, 13, 5, 16, 7, 12, 10, 8, 3, 15, 6, 1, 19, 20, 2]
x = 19

i = sequencial(lista,x)

if i == -1:
    print('o elemento {} não está na lista'.format(x))
else:
    print('lista[{}] = {}'.format(i,lista[i]))

lista[13] = 19

verificar um primeiro elemento, por exemplo a letra que começa para buscar, aí abre outra aba de codigo, efetuando uma busca mais profunda, então de inicio ele começa buscando apenas a letra inicial

In [ ]:
import math

def buscabin(lista,valor):
    i = 0
    j = len(lista)-1
    while i < j:
        m = math.floor((i+j)/2)
        if valor > lista[m]:
            i = m+1
        else:
            j = m
    if valor == lista[i]:
        return i
    else:
        return -1

In [ ]:
lista = [1, 2, 3, 5, 6, 7, 8, 10, 12, 13, 15, 16, 18, 19, 20, 22]
valor = 6

i = buscabin(lista,valor)

if (valor == lista[i]):
    print(' índice = {}'.format(i+1))
else:
    print('{} não está na lista'.format(valor))

 índice = 5

In [ ]:
import math
n = []
sequencial = []
binaria = []

for k in range(2, 17):
    w = 2**k
    n.append(w)
    sequencial.append(w)
    binaria.append(int(2*math.log2(w) + 2))

n

[4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096, 8192, 16384, 32768, 65536]

In [ ]:
import pandas as pd

df = pd.DataFrame(list(zip(n, sequencial, binaria)), columns = ['n','sequencial', 'binaria'])
print(df)

        n  sequencial  binaria
0       4           4        6
1       8           8        8
2      16          16       10
3      32          32       12
4      64          64       14
5     128         128       16
6     256         256       18
7     512         512       20
8    1024        1024       22
9    2048        2048       24
10   4096        4096       26
11   8192        8192       28
12  16384       16384       30
13  32768       32768       32
14  65536       65536       34

In [ ]:
def bubble(lista):
    n = len(lista)
    for i in range(n-1):
        for j in range(0,n-1-i):
            if lista[j] > lista[j+1]:
                lista[j], lista[j+1] = lista[j+1], lista[j]
        print(lista)
    return lista

In [ ]:
## Solução
lista = [3, 2, 4, 1, 5]

bubble(lista)

[2, 3, 1, 4, 5]
[2, 1, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [ ]:
def insertion(lista):
    n = len(lista)
    for i in range(1, n):
        j = i-1
        val = lista[i]
        while val < lista[j] and j>=0:
            lista[j], lista[j+1] = lista[j+1], lista[j]
            j=j-1
        print(lista)
    return lista

In [ ]:
import sympy as sp
F = {'a': 0.9, 'b': 0.3, 'd': 0.7}
Fc = {}
for key in F:
 Fc[key] = 1.- F[key]
R = {'a': 0.5, 'c': 0.4, 'd': 0.6}
Rc = {}
for key in R:
 Rc[key] = 1.- R[key]

In [ ]:
F_e_R = {}
for key in Fc:
 if key in Rc:
  if Fc[key] < Rc[key]:
    F_e_R[key] = Fc[key]
  else:
    F_e_R[key]= Rc[key]

In [ ]:
print('F = ', F, '\n')
print('Fc = ', Fc)

F =  {'a': 0.9, 'b': 0.3, 'd': 0.7}

Fc =  {'a': 0.09999999999999998, 'b': 0.7, 'd': 0.30000000000000004}

In [ ]:
print('F = ', Fc, '\n')
print('R = ', Rc, '\n')
print('F interseção R: ')
sp.pprint(F_e_R)

F =  {'a': 0.09999999999999998, 'b': 0.7, 'd': 0.30000000000000004}

R =  {'a': 0.5, 'c': 0.6, 'd': 0.4}

F interseção R:
{a: 0.09999999999999998, d: 0.30000000000000004}